body{
    text-align: center;
    font-family: sans-serif;
}


.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: 0;
    background-image:linear-gradient(
    150deg,
    #9500ff,
    #09f,
    #00DDFF
    );
    border-radius: 8px;
    color:snow;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition:.3s;
}

button.span{
   background-color:#111 ;
   padding: 16px 24px;
   border-radius: 6px;
   transition: .3s;
}

button.hover.span{
    background: none;
 }

button.active{
    transform: scale(0.9);
 }


.centrado{
    display: flex;
    justify-content: center;
}

.caja-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;

}

.caja-container .caja{
    height:11rem;
    width: 17rem;
    background-color:rgb(0, 0, 0);
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem;
    margin: 2rem;
}

footer{
    background:sandybrown;
}

.img{
    width: 450px;
    margin: 10px;
}

.orden{
    display: flex;
    justify-content: space-around;
}